
$textsize_lage: 32px;
$textsize_xsmall: 5px;


$main-color: #ffffff;
$sub-color: #55acee;
$chatcolor-my: #e0edff;
$chatcolor-other: #f5f5f5;
$text-color: #696969;


$breake-word: 200px;

$my-font:'Helvetica Neue','Helvetica','Arial',sans-serif;
$myfont-weight: bold;